# dependencies
node_modules
/**/node_modules
/.pnp
.pnp.js

# testing
/**/coverage

# distribution
/**/dist

# misc
.DS_Store
*.pem
.idea

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# turbo
.turbo

# project
/packages/*/types
test-results